.popup {
	display: none;
	pointer-events: all;
}

.popup__wrapper, .popups {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	z-index: 98;
}

.popups {
	pointer-events: none;
}

.popup__frame {
	overflow: hidden;
	width: 90%;
	height: 75%;
	background-color: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(8px);
	border-radius: 15px;
	border: 1px solid rgba(25, 25, 25, 0.7);
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
	z-index: 99;
}

.popup-small .popup__frame {
	height: fit-content;
	width: fit-content;
}

.popup__header {
	width: 100%;
	padding: 0.5em 1em;
	font-size: larger;
	border-bottom: 1px solid var(--low-contrast-color);
}

.popup__body {
	/* width: fit-content; */
	padding: 1em;
	height: calc(100% - 2em);
	overflow-x: hidden;
	overflow-y: auto;
}

.popup__section .btn-neon {
	width: 100%;
}

.popup__section::after {
	content: "";
	display: block;
	clear: both;
	width: 100%;
	height: 1px;
	background-color: var(--low-contrast-color);
	margin: 1.5em 0;
}

.popup__field {
	display: flex;
	gap: 1em;
	position: relative;
}

.popup__field input[type="text"] {
	flex: 1 1 auto;
}

.popup__field input[type="checkbox"] {
	position: absolute;
	top: -2.8em;
	right: 5em;
}

/* .popup__field:has(.range) {
	background-image: linear-gradient(to right, var(--red-theme-color), 20%, var(--blue-theme-color));
} */

.popup__field .range {
	position: absolute;
	top: -2em;
	right: 2em;
	display: flex;
	gap: 1em;
}

.popup__field:has(input[type="checkbox"]):hover, .popup__field:has(input[type="range"]):hover {
	cursor: pointer;
	filter: brightness(1.5);
}

.popup__legend {
	padding: 0.5em 0 1em 0;
	position: relative;
}

/* .popup__expand-trigger {} */

.popup__expand-content {
	height: 0;
	overflow-y: hidden;
	transition: 300ms ease-in;
}

.popup__expand-content.active {
	height: auto;
}

.popup__prompt {
	text-align: center;
}

.popup__row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1.5em;
}

.popup__row-centered {
	width: fit-content;
	margin: 0 auto;
}

.popup__section > .popup__btn, .popup__row {
	margin-top: 2em;
}

.popup-small .popup__row {
	margin-top: 1em;
}

.popup__list {
	display: flex;
	flex-direction: column;
	gap: 1em;
	padding: 1em 0;
	overflow-y: auto;
	scrollbar-width: thin;
	scrollbar-color: #ffffff00 var(--low-contrast-color);
}

.popup__match {
	display: flex;
	align-items: center;
	gap: 1em;
	padding: 0.5em 1em;
	border: 1px solid var(--low-contrast-color);
	border-radius: 5px;
	transition: 100ms ease-in;
}

.popup__match:not(:first-child) {
	margin-top: 1em;
}

.popup__match:hover {
	border-color: var(--blue-theme-color);
}

.popup__match > :first-child {
	flex: 1 1 100%;
}

.popup__match-content {
	display: flex;
	gap: 2em;
}

.popup__match-players {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.popup__match-info {
	display: flex;
	align-items: center;
	gap: 0.5em;
}

.popup__match-player {
	display: flex;
	align-items: center;
	gap: 0.3em;
}

.popup__match-tag {
	width: fit-content;
	font-size: smaller;
	color: var(--low-contrast-color);
	filter: brightness(0.4);
}

.popup__match-text {
	font-size: smaller;
}

.popup__match-indicator {
	width: 0.5em;
	height: 0.5em;
	border-radius: 50%;
}

.popup__match-indicator.green {
	background-color: green;
}

.popup__match-indicator.red {
	background-color: red;
}

.popup__match-btns {
	display: flex;
	gap: 0.5em;
}

#gameResult {
	width: fit-content;
}

#gameResult .popup__frame {
	width: 100%;
}

@media (min-width: 576px) {
	/* .popup-small .popup__frame {
		width: 75%;
	} */

	.popup__match-players {
		flex-direction: row;
		gap: 0.4em;
	}

	.popup__match-content {
		gap: 3em;
	}

	.popup__match-btns {
		gap: 1em;
	}

	.popup__field .range {
		gap: 3em;
	}
}